@use "../global/" as global;

.footer {
}

.footer-inner {
  padding-top: 20px;
  background-color: global.$base-color;
  text-align: center;
  padding-bottom: 20px;
}

.footer-title {
  font-size: 1.5em;
  color: global.$main-color;
  font-weight: 700;
}

.footer-nav {
  margin-top: 10px;
  font-family: global.$ff-noto;
}

.footer-nav-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 0.6rem;
  column-gap: 1rem;
  color: global.$accent-color;
  padding-inline: 5vw;
  font-family: global.$ff-noto;
}

.footer-nav-item {
  transition: color 0.3s;

  &:hover {
    color: global.$main-color;
  }
}

.footer-privacy {
  margin-top: 0.6rem;
}

.privacy-link {
  color: global.$accent-color;
  transition: all 0.3s ease;

  &:hover {
    color: global.$main-color;
  }
}

.copy {
  display: block;
  margin-top: 10px;
  font-family: global.$ff-noto;
}
