@use "../global/" as global;

#js-header {
  transition: top 0.5s ease-in-out; /* 0.5秒かけて滑らかに移動 */
}

.header {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  // background-color: global.$sub-color-01;
  background-color: global.$main-color;
  color: global.$text-color-white;
  // box-shadow: <水平方向の影の位置> <垂直方向の影の位置> <ぼかしの半径> <広がりの半径> <色> <inset>;
  box-shadow: 5px 5px 10px #ddd;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
  padding-left: 20px;
  padding-right: 20px;
  // height: 60px;

  @include global.mq(pc) {
    height: 80px;
    // padding-left: 40px;
    // padding-right: 40px;
    padding-inline: calc(30px / 1280px * 100%);
    padding-block: 40px;
  }

  &.is-open {
    background-color: global.$main-color;
  }
}

.site-title {
  text-align: center;
}

.site-title .site-title-link {
  font-weight: 700;
  font-size: 18px;
  transition: color 0.3s ease;

  &:hover {
    color: global.$accent-color;
  }
}

.site-title_br {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.header__container__logo-icon {
  display: block;
  max-width: 100%;
  width: calc(34px / 270px * 100%);
}

.header__container__logo-text {
  display: block;
  width: calc(225px / 270px * 100%);
}

.header__container__logo-container-white {
  display: none;
  align-items: center;
  gap: 11px;
  width: calc(270px / 375px * 100%);

  &.is-open {
    display: flex;
  }
}

.header__container__logo {
}
// PC版メニュー
.header__nav-pc-container {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.header__nav-list-pc {
  display: flex;
  // gap: 20px;
  gap: calc(18px / 1280px * 100vw);
  padding-left: 2px;
  align-items: center;
}

.header__nav-list-pc-item {
  position: relative;
  transition: color 0.3s ease;

  &::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: global.$accent-color;
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
  }

  &:hover {
    color: global.$accent-color;
  }

  &:hover::after {
    display: block;
  }

  &.is-contact {
    padding-inline: 12px;
    // padding-block: 4px;
    padding-top: 3px;
    padding-bottom: 4px;
    background-color: #fff;
    border-radius: 8px;
    color: global.$main-color;
    text-align: center;
    line-height: 20px;
    box-sizing: border-box;
    border: 2px solid #fff;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
      color: global.$accent-color;
      background-color: global.$main-color;
      // &::after {
      //   background-color: #fff;
      // }
    }
  }
}

.header__nav-list-pc-text {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

.header__nav-list-pc-address {
  margin-left: 5px;
}
g .header__address-pc {
  padding-right: 21px;
}

.header__address-pc-address {
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.8;
  display: block;
}

.header__address-pc-tel {
  font-size: 30px;
  color: global.$main-color;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.03em;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

.header__address-pc-tel-icon {
  display: block;
  width: 28px;
  height: 28px;
}

// sp版メニュー
.header__nav-sp-button {
  position: relative;
  width: 27px;
  height: 20px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__nav-sp-button-line {
  content: "";
  background-color: #fff;
  border-radius: 1px;
  height: 2px;
  position: absolute;
  transition: 0.3s ease;
  width: 100%;

  &:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
  }

  &:nth-child(2) {
    position: absolute;
    top: 9px;
    left: 0;
  }

  &:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.header__nav-sp-button.is-open {
  & .header__nav-sp-button-line {
    &:nth-child(1) {
      transform: rotate(-45deg);
      top: 7px;
      background-color: #fff;
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(45deg);
      top: 7px;
      background-color: #fff;
    }
  }
}

.header__nav-container-sp {
  visibility: hidden;
  pointer-events: none;
  background-color: global.$main-color;
  width: 100%;
  height: 100%;
  padding-top: 41px;
  padding-bottom: 230px;
  padding-inline: 60px;
  position: fixed;
  top: 58px;
  transition: opacity 1s ease, visibility 1s ease;
  opacity: 0;
  z-index: 100;

  &.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
}

.header__nav-list-sp {
  max-width: 254px;
  margin-inline: auto;
}

.header__nav-list-sp-item {
  height: 56.5px;
  width: 100%;
  display: flex;
  color: global.$text-color-white;
  align-items: center;
  gap: 17px;
  position: relative;
  border-bottom: 2px dashed #fff;
  &:first-child {
    border-top: 2px dashed #fff;
  }
}

.header__nav-list-sp-item-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 14px;

  &.is-contact {
    padding-inline: 8px;
    padding-block: 8px;
    background-color: #fff;
  }
}

.header__nav-list-sp-icon {
  width: 24px;
  height: 24px;
}

.header__nav-list-sp-text {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
