@use "../global/" as global;

.line-wrap {
  margin-top: 2rem;
  text-align: center;
}

.line-title {
  font-weight: 700;
  // color: global.$main-color;
  font-size: 1.2rem;
}
@keyframes shake-line {
  0%,
  50%,
  100% {
    transform: translateX(0);
  }
  10%,
  30% {
    transform: translateX(-3px);
  }
  20%,
  40% {
    transform: translateX(3px);
  }
}
.line-title-sub-text {
  font-size: 1rem;
  font-family: global.$ff-noto;
}

.line-btn {
  display: block;
  margin-top: 1rem;
  animation: shake-line 2s linear infinite;
  max-width: 100%;
  display: inline-block;
}
