@use "../global/" as global;

// .lists-posts-list {
//   display: flex;
//   gap: 20px;
//   flex-wrap: wrap;
//   justify-content: center;

//   @media screen and (min-width: 768px) {
//     justify-content: flex-start;
//   }
// }
.lists-posts-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 600px) {
    // justify-content: space-between;
  }
}

.lists-posts-item {
  background-color: var(--bg-sub);
  border-radius: 12px;
  overflow: hidden;
  // box-shadow: <水平方向の影の位置> <垂直方向の影の位置> <ぼかしの半径> <広がりの半径> <色> <inset>;
  box-shadow: 5px 5px 10px #bbb;

  &:nth-child(n + 2) {
    margin-top: 30px;

    @media screen and (min-width: 600px) {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 599px) {
    max-width: 400px;
  }
  @media screen and (min-width: 600px) {
    width: calc((100% - 20px) / 2);
  }
  @media screen and (min-width: 910px) {
    width: calc((100% - 20px * 2) / 3);
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 20px * 3) / 4);
  }
}

.lists-posts-item-img {
  width: 100%;
  aspect-ratio: 480 / 320;
  object-fit: cover;
}

.lists-posts-item-body {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  padding-left: 16px;
}

.lists-posts-item-title {
  color: var(--text-main);
  font-size: 1.2em;
  font-weight: 700;
}

.lists-posts-item-excerpt {
  margin-top: 1em;
  // font-family: global.$ff-noto;
}
