@use "../global/" as global;

.x-wrap {
  margin-top: 3rem;
  text-align: center;
}

.follow-me {
  font-size: 1.2rem;
  font-weight: 700;
}

.follow-me-sub-text {
  font-size: 1rem;
  font-family: global.$ff-noto;
}

@keyframes shake-x {
  0%,
  50%,
  100% {
    transform: translateX(0);
  }
  10%,
  30% {
    transform: translateX(-3px);
  }
  20%,
  40% {
    transform: translateX(3px);
  }
}
.x-link-wrap {
  margin-top: 1rem;
}

.x-link {
  text-decoration: underline;
  color: global.$main-color;
  font-weight: 700;
  transition: all 0.3s ease;
  font-size: 2rem;
  display: inline-block;
  animation: shake-x 2s linear infinite;
  max-width: 100%;

  &:hover {
    color: global.$accent-color;
  }
}
