@use "sass:map";

// ブレイクポイントとmixin
$breakpoints: (
  "sp": "screen and (max-width: 767.98px)",
  // "tab": "screen and (min-width: 768px) and (max-width: 1023px)",
  "pc": "screen and (min-width: 768px)",
) !default;

@mixin mq($breakpoint: "sp") {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}
