// フォント
$ff-base: "M PLUS Rounded 1c", sans-serif;
$ff-noto: "Noto Sans JP", sans-serif;
$fs-base: 16px;
$fw-base: 400;
$lh-base: normal;

// color
$text-color-black: #393939;
$text-color-white: #ffffff;

$main-color: #03258c;
$base-color: #f2eddf;
$sub-color-01: #14328c;
$sub-color-02: #4b61a6;
$sub-color-03: #8f9bbf;
$accent-color: #ff9a08;
$accent-color-red: #f82d2d;

// レイアウト
$pc-width: 1280px;
$sp-width: 375px;
