*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

ol,
ul {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font: inherit;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	color: inherit;
	font: inherit;
	vertical-align: top;
}

html {
	height: 100%; /* html要素の高さを100%に */
}

body {
	display: flex; /* bodyをFlexコンテナに */
	flex-direction: column; /* 子要素を縦方向に並べる */
	margin: 0; /* bodyのデフォルトマージンをリセット */
	min-height: 100vh; /* bodyの最小の高さをビューポート（画面表示領域）の100%に */
}

main {
	flex-grow: 1;
}

body {
	color: #393939;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
}

.l-inner {
	margin-inline: auto;
	max-width: 100vw;
	padding-inline: 4vw;
	text-align: center;
}

.contact-main {
	margin-top: 120px;
	text-align: center;
}

.contact-form {
	background-color: #f2eddf;
	border-radius: 12px;
	margin-inline: auto;
	max-width: 500px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 30px;
	width: 95vw;
}

.contact-body p {
	margin-top: 0.5em;
}

.contact-label {
	color: #14328c;
	font-weight: 700;
}

.contact-required {
	color: #ff9a08;
	font-weight: 700;
	margin-left: 0.5em;
}

.contact-main input[type=text],
.contact-main input[type=email],
.contact-main textarea {
	border: none;
	font-family: "Noto Sans JP", sans-serif;
	max-width: 400px;
	width: 95%;
}

.contact-main input[type=text]:hover,
.contact-main input[type=email]:hover,
.contact-main textarea:hover {
	outline: 3px solid #ff9a08;
}

.contact-main textarea {
	height: 200px;
}

.contact-main input[type=submit] {
	background-color: #14328c;
	border: none;
	border: 5px solid #03258c;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	margin-inline: auto;
	margin-top: 20px;
	padding: 10px 20px;
	transition: all 0.3s ease;
}

.contact-main input[type=submit]:hover {
	border: 5px solid #ff9a08;
	opacity: 0.8;
}

.contact-main .wpcf7-spinner {
	display: none;
}

.contact-main .x-wrap {
	margin-top: 3rem;
}

.contact-main .follow-me {
	font-size: 1.2rem;
	font-weight: 700;
}

.contact-privacy {
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 700;
	margin-top: 2rem;
}

.contact-privacy .privacy-link {
	color: #03258c;
	font-weight: 700;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	text-underline-offset: 3px;
}

.contact-privacy .privacy-link:hover {
	color: #ff9a08;
}

.contact-thanks .l-inner {
	padding-top: 135px;
}

.contact-thanks-img-container {
	position: relative;
}

.contact-thanks-img-container .contact-thanks-img-copy {
	bottom: 10%;
	color: #ccc;
	font-size: 0.6em;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.contact-thanks-img {
	display: block;
	margin-inline: auto;
}

.contact-thanks-title {
	color: #ff9a08;
	font-size: 1.2em;
	font-weight: 700;
	margin-top: 2em;
}

.contact-thanks-text {
	font-weight: 700;
	margin-top: 1em;
}

.contact-thanks-x-link {
	color: #03258c;
	font-weight: 700;
	text-decoration: underline;
}

.back-to-home-contact-thanks {
	display: inline-block;
	margin-top: 1em;
}

.back-to-home-contact-thanks-link {
	color: #03258c;
	font-weight: 700;
	text-decoration: underline;
}

.single {
	font-family: "Noto Sans JP", sans-serif;
	padding-top: 120px;
	text-align: left;
}

.single-inner {
	margin-inline: auto;
	width: 95%;
}

.single-title {
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
}

.single-thumbnail {
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}

.eye-catcher-copy-wrap {
	font-size: 0.9rem;
}

.eye-catcher-copy-wrap a {
	color: #03258c;
	font-weight: 700;
	text-decoration: underline;
}

.stealth-marketing {
	background-color: #ddd;
	border-radius: 8px;
	color: #888;
	display: inline-block;
	font-size: 0.8em;
	margin-top: 0.5rem;
	padding: 0.5em 1em;
}

.single-body #toc_container {
	background-color: #f2eddf;
	margin-inline: auto;
	margin-top: 2rem;
	padding-bottom: 1em;
}

.single-body p {
	margin-top: 1em;
}

.single-body a {
	color: #03258c;
	font-weight: 700;
	text-decoration: underline;
	transition: color 0.3s;
}

.single-body a:hover {
	color: #ff9a08;
}

.single-body .wp-block-separator {
	margin-bottom: 1em;
	margin-top: 1em;
}

.single-body .wp-block-image img {
	display: block;
	margin-inline: auto;
	margin-top: 2rem;
	padding-bottom: 1em;
}

.single-body .wp-block-video {
	display: block;
	margin-inline: auto;
	margin-top: 2rem;
	padding-bottom: 1em;
}

.single-body h2 {
	display: inline-block;
	font-size: 1.5em;
	margin-left: 1em;
	margin-top: 2em;
	padding-bottom: 0.1em;
	position: relative;
}

.single-body h2 span {
	font-weight: 700;
}

.single-body h2::after {
	background-color: #03258c;
	bottom: 0;
	content: "";
	display: block;
	height: 5px;
	left: 0;
	min-width: 35px;
	position: absolute;
	width: 60%;
}

.single-body h3 {
	font-size: 1.2em;
	margin-inline: auto;
	margin-top: 2em;
	padding-left: 1em;
	position: relative;
}

.single-body h3 span {
	font-weight: 700;
}

.single-body h3::before {
	background-color: #03258c;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 4px;
}

.single-body h4 {
	display: inline-block;
	font-size: 1em;
	margin-left: 1em;
	margin-top: 2em;
	padding-bottom: 0.3em;
	position: relative;
}

.single-body h4 span {
	font-weight: 700;
}

.single-body h4::before {
	background-color: #8f9bbf;
	bottom: 0;
	content: "";
	display: block;
	height: 4px;
	left: 0;
	position: absolute;
	width: 60%;
}

.single-body h5 {
	color: #111;
	display: inline-block;
	font-size: 1em;
	font-weight: 700;
	margin-left: 1em;
	margin-top: 2em;
	padding-bottom: 0.3em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.3em;
	position: relative;
}

.single-body h5 span {
	font-weight: 700;
}

.single-body h5::after {
	background-image: linear-gradient(to right, #8f9bbf, transparent);
	border-radius: 0 8px 8px 0;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.single-body h6 {
	color: #111;
	font-size: 1em;
	font-weight: 700;
	font-weight: 700;
	margin-top: 2em;
	padding-left: 1.2rem;
	position: relative;
}

.single-body h6 span {
	font-weight: 700;
}

.single-body h6::before {
	background-color: #8f9bbf;
	clip-path: polygon(0 0, 0% 100%, 62% 50%);
	content: "";
	display: block;
	height: 80%;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1.5rem;
}

.single-body .affiliate {
	display: block;
	margin-top: 2rem;
	text-align: center;
}

.single-body .wp-block-embed__wrapper {
	display: block;
	margin-inline: auto;
	margin-top: 1rem;
	max-width: 80vw;
	padding-bottom: 1em;
}

.single-body .wp-block-code {
	display: block;
	margin-inline: auto;
	margin-top: 1em;
	padding-bottom: 1em;
}

.single-body .wp-block-quote {
	display: block;
	margin-inline: auto;
	margin-top: 1em;
	padding-bottom: 1em;
}

.single-body .wp-block-table {
	display: block;
	margin-inline: auto;
	margin-top: 1em;
	padding-bottom: 1em;
}

.single-body .wp-block-list {
	margin-top: 1em;
	padding-bottom: 1em;
	text-align: left;
}

.single-body .wp-block-list li {
	margin-top: 0.6em;
	padding-left: 1.2em;
	position: relative;
}

.single-body .wp-block-list li::before {
	content: "\f111";
	font: var(--fa-font-solid);
	font-size: 0.5em;
	font-weight: 700;
	left: 0;
	position: absolute;
	top: 1.3em;
}

.error-404-page {
	padding-top: 40px;
}

.error-404-page-img-container {
	position: relative;
}

.error-404-page-img-container a {
	bottom: 10%;
	color: #ccc;
	font-size: 0.6em;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.error-404-page-title {
	color: #f82d2d;
	font-size: 2em;
	font-weight: 700;
}

.error-404-page-text {
	font-weight: 700;
	margin-top: 1em;
}

.back-to-home-404 {
	display: inline-block;
	margin-top: 1em;
}

.back-to-home-404-link {
	color: #03258c;
	font-weight: 700;
	text-decoration: underline;
}

.archive-main {
	margin-top: 120px;
}

.archive-slug-name-wrapper {
	margin-top: 1rem;
	text-align: center;
}

.archive-slug-name {
	background-color: #4b61a6;
	border-radius: 8px;
	color: #fff;
	display: inline-block;
	font-weight: 700;
	padding-block: 0.2rem 0.3rem;
	padding-inline: 0.5rem;
	transition: all 0.3s ease;
}

.archive-item {
	background-color: #f2eddf;
	border-radius: 12px;
	box-shadow: 5px 5px 10px #bbb;
	overflow: hidden;
}

.archive-item:nth-child(n+2) {
	margin-top: 1.5em;
}

.archive-item-img {
	aspect-ratio: 400/250;
	-o-object-fit: cover;
	object-fit: cover;
}

.archive-item-body {
	padding-bottom: 1em;
	padding-inline: 1em;
	padding-top: 1em;
}

.archive-item-title {
	color: #03258c;
	font-size: 1.2em;
	font-weight: 700;
}

.archive-item-excerpt {
	font-family: "Noto Sans JP", sans-serif;
	margin-top: 0.5em;
}

.page-profile-main {
	margin-top: 120px;
}

.page-profile-inner {
	margin-inline: auto;
	max-width: 600px;
	text-align: center;
	width: 95%;
}

.profile-body {
	font-family: "Noto Sans JP", sans-serif;
	text-align: left;
}

.profile-body #toc_container {
	background-color: #f2eddf;
	margin-inline: auto;
	margin-top: 2rem;
	padding-bottom: 1em;
}

.profile-body p {
	margin-top: 1em;
}

.profile-body a {
	color: #03258c;
	font-weight: 700;
	text-decoration: underline;
	transition: color 0.3s;
}

.profile-body a:hover {
	color: #ff9a08;
}

.profile-body .wp-block-separator {
	margin-bottom: 1em;
	margin-top: 1em;
}

.profile-body .wp-block-image img {
	display: block;
	margin-inline: auto;
	margin-top: 2rem;
	padding-bottom: 1em;
}

.profile-body .wp-block-video {
	display: block;
	margin-inline: auto;
	margin-top: 2rem;
	padding-bottom: 1em;
}

.profile-body h2 {
	display: inline-block;
	font-size: 1.5em;
	margin-left: 1em;
	margin-top: 2em;
	padding-bottom: 0.1em;
	position: relative;
}

.profile-body h2 span {
	font-weight: 700;
}

.profile-body h2::after {
	background-color: #03258c;
	bottom: 0;
	content: "";
	display: block;
	height: 5px;
	left: 0;
	min-width: 35px;
	position: absolute;
	width: 60%;
}

.profile-body h3 {
	font-size: 1.2em;
	margin-inline: auto;
	margin-top: 2em;
	padding-left: 1em;
	position: relative;
}

.profile-body h3 span {
	font-weight: 700;
}

.profile-body h3::before {
	background-color: #03258c;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 4px;
}

.profile-body h4 {
	display: inline-block;
	font-size: 1em;
	margin-left: 1em;
	margin-top: 2em;
	padding-bottom: 0.3em;
	position: relative;
}

.profile-body h4 span {
	font-weight: 700;
}

.profile-body h4::before {
	background-color: #8f9bbf;
	bottom: 0;
	content: "";
	display: block;
	height: 4px;
	left: 0;
	position: absolute;
	width: 60%;
}

.profile-body h5 {
	color: #111;
	display: inline-block;
	font-size: 1em;
	font-weight: 700;
	margin-left: 1em;
	margin-top: 2em;
	padding-bottom: 0.3em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.3em;
	position: relative;
}

.profile-body h5 span {
	font-weight: 700;
}

.profile-body h5::after {
	background-image: linear-gradient(to right, #8f9bbf, transparent);
	border-radius: 0 8px 8px 0;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.profile-body h6 {
	color: #111;
	font-size: 1em;
	font-weight: 700;
	font-weight: 700;
	margin-top: 2em;
	padding-left: 1.2rem;
	position: relative;
}

.profile-body h6 span {
	font-weight: 700;
}

.profile-body h6::before {
	background-color: #8f9bbf;
	clip-path: polygon(0 0, 0% 100%, 62% 50%);
	content: "";
	display: block;
	height: 80%;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1.5rem;
}

.profile-body .affiliate {
	display: block;
	margin-top: 2rem;
	text-align: center;
}

.profile-body .wp-block-embed__wrapper {
	display: block;
	margin-inline: auto;
	margin-top: 1rem;
	max-width: 80vw;
	padding-bottom: 1em;
}

.profile-body .wp-block-code {
	display: block;
	margin-inline: auto;
	margin-top: 1em;
	padding-bottom: 1em;
}

.profile-body .wp-block-quote {
	display: block;
	margin-inline: auto;
	margin-top: 1em;
	padding-bottom: 1em;
}

.profile-body .wp-block-table {
	display: block;
	margin-inline: auto;
	margin-top: 1em;
	padding-bottom: 1em;
}

.profile-body .wp-block-list {
	margin-top: 1em;
	padding-bottom: 1em;
	text-align: left;
}

.profile-body .wp-block-list li {
	margin-top: 0.6em;
	padding-left: 1.2em;
	position: relative;
}

.profile-body .wp-block-list li::before {
	content: "\f111";
	font: var(--fa-font-solid);
	font-size: 0.5em;
	font-weight: 700;
	left: 0;
	position: absolute;
	top: 1.3em;
}

.page-profile-text-name {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
}

.page-profile-text-description-container {
	margin-top: 1em;
}

.page-profile-text-description {
	text-align: left;
}

.page-profile-text-description:nth-child(n+2) {
	margin-top: 1em;
}

.page-profile-text-link {
	font-size: 1.5em;
	font-weight: 700;
	margin-top: 1em;
}

.page-privacy-main {
	margin-top: 120px;
	text-align: center;
}

.page-privacy-main #toc_container {
	display: none;
}

.page-privacy-body {
	margin-inline: auto;
	max-width: 480px;
	text-align: left;
	width: 90vw;
}

.page-privacy-body p {
	font-family: "Noto Sans JP", sans-serif;
	margin-inline: auto;
	margin-top: 1em;
}

.page-privacy-body a {
	color: #03258c;
	font-weight: 700;
	text-decoration: underline;
	transition: color 0.3s;
}

.page-privacy-body a:hover {
	color: #ff9a08;
}

.page-privacy-body .wp-block-separator {
	margin-bottom: 1em;
	margin-inline: auto;
	margin-top: 1em;
	width: 95vw;
}

.page-privacy-body h2 {
	font-size: 1.2em;
	font-weight: 700;
	margin-inline: auto;
	margin-top: 2em;
	padding-left: 1em;
	position: relative;
}

.page-privacy-body h2::before {
	background-color: #03258c;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 4px;
}

.page-privacy-body li {
	margin-top: 0.6em;
	padding-left: 1.2em;
	position: relative;
}

.page-privacy-body li::before {
	content: "\f111";
	font: var(--fa-font-solid);
	font-size: 0.5em;
	font-weight: 700;
	left: 0;
	position: absolute;
	top: 1.3em;
}

/* --- 検索フォームのスタイル --- */

.search-form {
	display: flex; /* 横並びに配置 */
	justify-content: center;
	margin-inline: auto;
	margin-top: 1.5rem;
	max-width: 400px;
}

.search-field {
	border: 1px solid #ccc;
	border-radius: 5px 0 0 5px;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 16px;
	outline: none; /* フォーカス時の枠線を消す */
	padding: 10px;
	width: 100%; /* 親要素の幅いっぱいに広げる */
}

.search-submit {
	background-color: #03258c; /* WordPressの標準的な青色 */
	border: none;
	border-radius: 0 5px 5px 0;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 0 20px;
	transition: background-color 0.3s;
}

.search-submit:hover {
	background-color: #ff9a08;
}

/* スクリーンリーダー用のテキストを非表示にする */

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

/* --- 検索結果ページのスタイル --- */

.search-results-header {
	border-bottom: 1px solid #eee;
	margin-bottom: 30px;
	padding-bottom: 15px;
}

.search-results-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.search-results-title span {
	color: #ff9a08; /* 検索キーワードの色を強調 */
	font-weight: bold;
}

.search-results-not-founds {
	font-family: "Noto Sans JP", sans-serif;
}

.c-btn {
	background-color: #fff;
	background-image: url(../img/components/arrow-right-blue.png);
	background-position: right 12px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	border: 2px solid #03258c;
	border-radius: 24px;
	color: #03258c;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
	padding: 12px 46px;
	text-align: center;
	transition: background-position 0.3s ease;
}

.c-btn:hover {
	background-color: #03258c;
	background-position: right 4px center;
	color: #ffffff;
}

.to-top {
	bottom: 55px;
	height: 52px;
	position: fixed;
	right: 10px;
	width: 52px;
	z-index: 20;
}

.to-top svg {
	height: 100%;
	width: 100%;
}

.to-top path {
	fill: #ff9a08;
}

.heading-container,
.heading-link {
	align-items: flex-start;
	background-color: #14328c;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	justify-content: space-between;
	padding-bottom: 8px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
}

.heading-link {
	transition: all 0.3s ease;
}

.heading-link:hover {
	background-color: #8f9bbf;
}

.heading-link:hover .heading {
	color: #ff9a08;
}

.heading {
	color: #ffffff;
	font-size: 1.5em;
}

.heading-underline {
	background-color: #ffffff;
	content: "";
	height: 2px;
	width: 50%;
}

.single-tags {
	display: flex;
	gap: 0.5rem;
	margin-top: 0.5rem;
}

.single-tag-link {
	background-color: #4b61a6;
	border-radius: 8px;
	color: #ffffff;
	font-weight: 700;
	padding-block: 0.2rem 0.35rem;
	padding-inline: 0.5rem;
	transition: all 0.3s ease;
}

.single-tag-link:hover {
	color: #ff9a08;
	opacity: 0.6;
}

.tag-tags .single-tag-link {
	background-color: #8f9bbf;
}

.pagination-archive {
	display: flex;
	gap: 2rem;
	justify-content: center;
	margin-top: 2rem;
}

.pagination-archive a {
	transition: all 0.3s ease;
}

.pagination-archive a:hover {
	color: #ff9a08;
	opacity: 0.7;
}

.page-numbers {
	align-items: center;
	background-color: #8f9bbf;
	border-radius: 50%;
	color: #ffffff;
	display: flex;
	font-weight: 700;
	height: 2.5rem;
	justify-content: center;
	width: 2.5rem;
}

.page-numbers.current {
	color: #03258c;
}

.pagination-single {
	align-items: center;
	display: flex;
	gap: 1.2rem;
	justify-content: center;
	margin-top: 2.5rem;
}

.pagination-single-prev,
.pagination-single-list,
.pagination-single-next {
	border-radius: 8px;
	color: #ffffff;
	font-size: 1rem;
	font-weight: 700;
	padding-bottom: 0.3rem;
	padding-inline: 0.6rem;
	padding-top: 0.2rem;
	transition: all 0.3s ease;
}

.pagination-single-prev:hover,
.pagination-single-list:hover,
.pagination-single-next:hover {
	color: #ff9a08;
	opacity: 0.7;
}

.pagination-single-prev {
	background-color: #8f9bbf;
}

.pagination-single-list {
	background-color: #14328c;
}

.pagination-single-next {
	background-color: #8f9bbf;
}

.pagination-contents-wrap {
	margin-top: 2rem;
	text-align: center;
}

.pagination-contents-text {
	color: #03258c;
	font-size: 1.5rem;
	font-weight: 700;
}

.contents-pagination {
	display: flex;
	gap: 2rem;
	justify-content: center;
	margin-top: 0.1rem;
}

.post-page-numbers {
	background-color: #8f9bbf;
	border-radius: 50%;
	display: flex;
	font-size: 2rem;
	font-weight: 700;
	height: 3rem;
	justify-content: center;
	width: 3rem;
}

.post-page-numbers span {
	color: #ffffff;
	transform: translateY(-1px);
}

.post-page-numbers.current span {
	color: #03258c;
}

.contents-pagination a {
	text-decoration: none;
}

.contents-pagination a:hover {
	opacity: 0.7;
}

.contents-pagination a:hover span {
	color: #ff9a08;
}

.hidden-element { /* 初期位置を下にずらす */
	opacity: 0;
	position: relative; /* transform の基準点とするため */
	transform: translateY(100px); /* 初期状態を透明にする */
	transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* 滑らかなアニメーション */
}

.visible-element { /* 通常の位置に戻す */
	opacity: 1;
	transform: translateY(0); /* 表示する */
}

.breadcrumb {
	display: flex;
	gap: 6px;
	justify-content: center;
	margin-top: 0.2rem;
}

.breadcrumb .home,
.breadcrumb .taxonomy,
.breadcrumb .category,
.breadcrumb .archive,
.breadcrumb .tag,
.breadcrumb .author,
.breadcrumb .post-works-archive {
	text-decoration-line: underline;
	text-decoration-thickness: 2.3px;
	text-underline-offset: 3px;
}

.breadcrumb span {
	color: #03258c;
	font-size: 1rem;
	font-weight: 700;
}

#js-header {
	transition: top 0.5s ease-in-out; /* 0.5秒かけて滑らかに移動 */
}

.header {
	background-color: #03258c;
	box-shadow: 5px 5px 10px #ddd;
	color: #ffffff;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 50;
}

.header__container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-block: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.header__container.is-open {
	background-color: #03258c;
}

.site-title {
	text-align: center;
}

.site-title .site-title-link {
	font-size: 18px;
	font-weight: 700;
	transition: color 0.3s ease;
}

.site-title .site-title-link:hover {
	color: #ff9a08;
}

.header__container__logo-icon {
	display: block;
	max-width: 100%;
	width: 12.5925925926%;
}

.header__container__logo-text {
	display: block;
	width: 83.3333333333%;
}

.header__container__logo-container-white {
	align-items: center;
	display: none;
	gap: 11px;
	width: 72%;
}

.header__container__logo-container-white.is-open {
	display: flex;
}

.header__nav-pc-container {
	display: none;
}

.header__nav-list-pc {
	align-items: center;
	display: flex;
	gap: 1.40625vw;
	padding-left: 2px;
}

.header__nav-list-pc-item {
	position: relative;
	transition: color 0.3s ease;
}

.header__nav-list-pc-item::after {
	background-color: #ff9a08;
	bottom: 0;
	content: "";
	display: none;
	height: 2px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	transition: background-color 0.3s ease;
	width: 30px;
}

.header__nav-list-pc-item:hover {
	color: #ff9a08;
}

.header__nav-list-pc-item:hover::after {
	display: block;
}

.header__nav-list-pc-item.is-contact {
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 8px;
	box-sizing: border-box;
	color: #03258c;
	line-height: 20px;
	padding-bottom: 4px;
	padding-inline: 12px;
	padding-top: 3px;
	text-align: center;
	transition: color 0.3s ease, background-color 0.3s ease;
}

.header__nav-list-pc-item.is-contact:hover {
	background-color: #03258c;
	color: #ff9a08;
}

.header__nav-list-pc-text {
	font-size: 12px;
	font-weight: 700;
	text-align: center;
}

.header__nav-list-pc-address {
	margin-left: 5px;
}

g .header__address-pc {
	padding-right: 21px;
}

.header__address-pc-address {
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.8;
	text-align: right;
}

.header__address-pc-tel {
	align-items: center;
	color: #03258c;
	display: flex;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	gap: 2px;
	justify-content: center;
	letter-spacing: 0.03em;
}

.header__address-pc-tel-icon {
	display: block;
	height: 28px;
	width: 28px;
}

.header__nav-sp-button {
	height: 20px;
	position: relative;
	width: 27px;
}

.header__nav-sp-button-line {
	background-color: #fff;
	border-radius: 1px;
	content: "";
	height: 2px;
	position: absolute;
	transition: 0.3s ease;
	width: 100%;
}

.header__nav-sp-button-line:nth-child(1) {
	left: 0;
	position: absolute;
	top: 0;
}

.header__nav-sp-button-line:nth-child(2) {
	left: 0;
	position: absolute;
	top: 9px;
}

.header__nav-sp-button-line:nth-child(3) {
	bottom: 0;
	left: 0;
	position: absolute;
}

.header__nav-sp-button.is-open .header__nav-sp-button-line:nth-child(1) {
	background-color: #fff;
	top: 7px;
	transform: rotate(-45deg);
}

.header__nav-sp-button.is-open .header__nav-sp-button-line:nth-child(2) {
	opacity: 0;
}

.header__nav-sp-button.is-open .header__nav-sp-button-line:nth-child(3) {
	background-color: #fff;
	top: 7px;
	transform: rotate(45deg);
}

.header__nav-container-sp {
	background-color: #03258c;
	height: 100%;
	opacity: 0;
	padding-bottom: 230px;
	padding-inline: 60px;
	padding-top: 41px;
	pointer-events: none;
	position: fixed;
	top: 58px;
	transition: opacity 1s ease, visibility 1s ease;
	visibility: hidden;
	width: 100%;
	z-index: 100;
}

.header__nav-container-sp.is-open {
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
}

.header__nav-list-sp {
	margin-inline: auto;
	max-width: 254px;
}

.header__nav-list-sp-item {
	align-items: center;
	border-bottom: 2px dashed #fff;
	color: #ffffff;
	display: flex;
	gap: 17px;
	height: 56.5px;
	position: relative;
	width: 100%;
}

.header__nav-list-sp-item:first-child {
	border-top: 2px dashed #fff;
}

.header__nav-list-sp-item-link {
	align-items: center;
	display: flex;
	gap: 14px;
	height: 100%;
	width: 100%;
}

.header__nav-list-sp-item-link.is-contact {
	background-color: #fff;
	padding-block: 8px;
	padding-inline: 8px;
}

.header__nav-list-sp-icon {
	height: 24px;
	width: 24px;
}

.header__nav-list-sp-text {
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
}

.footer-inner {
	background-color: #f2eddf;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
}

.footer-title {
	color: #03258c;
	font-size: 1.5em;
	font-weight: 700;
}

.footer-nav {
	font-family: "Noto Sans JP", sans-serif;
	margin-top: 10px;
}

.footer-nav-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 0.6rem;
	-moz-column-gap: 1rem;
	color: #ff9a08;
	column-gap: 1rem;
	font-family: "Noto Sans JP", sans-serif;
	padding-inline: 5vw;
}

.footer-nav-item {
	transition: color 0.3s;
}

.footer-nav-item:hover {
	color: #03258c;
}

.footer-privacy {
	margin-top: 0.6rem;
}

.privacy-link {
	color: #ff9a08;
	transition: all 0.3s ease;
}

.privacy-link:hover {
	color: #03258c;
}

.copy {
	display: block;
	font-family: "Noto Sans JP", sans-serif;
	margin-top: 10px;
}

.mv {
	margin-top: 120px;
}

.site-description {
	color: #03258c;
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
}

.mv__slider {
	height: 447px;
	margin-inline: auto;
	margin-top: 2rem;
	padding-inline: 20px;
	position: relative;
	width: 100%;
}

.mv__slider-slide-img {
	border-radius: 8px;
	display: block;
	overflow: hidden;
	width: max(375px, 100%);
	-o-object-position: center;
	object-position: center;
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
}

.mv__slider-pagination {
	bottom: 18px !important;
	display: flex;
	flex-direction: column;
	gap: 8px;
	left: 1px !important;
	position: absolute;
}

.swiper-pagination-bullet {
	background-color: #03258c;
	height: 6px;
	width: 6px;
}

.swiper-button-prev,
.swiper-button-next {
	height: auto;
	width: 48px;
}

.swiper-button-prev path,
.swiper-button-next path {
	fill: #03258c;
	transition: fill 0.3s ease;
}

.swiper-button-prev path:hover,
.swiper-button-next path:hover {
	fill: #ff9a08;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	display: none;
}

.swiper-button-prev {
	left: 0 !important;
}

.swiper-button-next {
	right: 0 !important;
}

.mv__slider-text {
	background-color: #fff;
	bottom: 37px;
	left: 40px;
	position: absolute;
	z-index: 10;
}

.lists-works-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.lists-works-item {
	background-color: #f2eddf;
	border-radius: 12px;
	box-shadow: 5px 5px 10px #bbb;
	overflow: hidden;
}

.lists-works-item:nth-child(n+2) {
	margin-top: 30px;
}

.lists-works-item-img {
	aspect-ratio: 480/320;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.lists-works-item-body {
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
}

.lists-works-item-title {
	color: #03258c;
	font-size: 1.2em;
	font-weight: 700;
}

.lists-works-item-excerpt {
	font-family: "Noto Sans JP", sans-serif;
}

.works-list__link-btn-wrap {
	border-top: 3px solid #8f9bbf;
	font-family: "Noto Sans JP", sans-serif;
	padding-block: 1rem;
	padding-inline: 16px;
}

.works-list__link-btn {
	color: #03258c;
	font-size: 1.2rem;
	font-weight: 700;
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-underline-offset: 3px;
	transition: all 0.3s ease;
}

.works-list__link-btn:hover {
	color: #ff9a08;
}

.lists-posts-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.lists-posts-item {
	background-color: #f2eddf;
	border-radius: 12px;
	box-shadow: 5px 5px 10px #bbb;
	overflow: hidden;
}

.lists-posts-item:nth-child(n+2) {
	margin-top: 30px;
}

.lists-posts-item-img {
	aspect-ratio: 480/320;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.lists-posts-item-body {
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
}

.lists-posts-item-title {
	color: #03258c;
	font-size: 1.2em;
	font-weight: 700;
}

.lists-posts-item-excerpt {
	font-family: "Noto Sans JP", sans-serif;
	margin-top: 1em;
}

.line-wrap {
	margin-top: 2rem;
	text-align: center;
}

.line-title {
	font-size: 1.2rem;
	font-weight: 700;
}

.line-title-sub-text {
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
}

.line-btn {
	animation: shake-line 2s linear infinite;
	display: block;
	display: inline-block;
	margin-top: 1rem;
	max-width: 100%;
}

.all-tags-list-wrap {
	margin-top: 2rem;
}

.all-tags-list-title {
	color: #03258c;
	font-size: 1.2rem;
	font-style: 1.5rem;
	font-weight: 700;
	text-align: center;
}

.all-tags-list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	justify-content: center;
	margin: 0 auto;
	margin-top: 0.5rem;
	max-width: 640px;
}

.all-tags-item {
	background-color: #8f9bbf;
	border-radius: 8px;
	color: #ffffff;
	font-weight: 700;
	padding-block: 0.2rem 0.2rem;
	padding-inline: 0.5rem;
	transition: all 0.3s ease;
}

.all-tags-item:hover {
	color: #ff9a08;
	opacity: 0.6;
}

.all-tags-item a {
	all: inherit;
	cursor: pointer;
}

.x-wrap {
	margin-top: 3rem;
	text-align: center;
}

.follow-me {
	font-size: 1.2rem;
	font-weight: 700;
}

.follow-me-sub-text {
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
}

.x-link-wrap {
	margin-top: 1rem;
}

.x-link {
	animation: shake-x 2s linear infinite;
	color: #03258c;
	display: inline-block;
	font-size: 2rem;
	font-weight: 700;
	max-width: 100%;
	text-decoration: underline;
	transition: all 0.3s ease;
}

.x-link:hover {
	color: #ff9a08;
}

.u-separate {
	margin-bottom: 24px;
	margin-top: 24px;
}

.overflow-hidden {
	overflow: hidden;
}

.u-is-red {
	color: #f82d2d;
}

.u-is-accent {
	color: #ff9a08;
}

.grecaptcha-badge {
	visibility: hidden;
}

.u-margin-top-100 {
	margin-top: 100px;
}

.u-margin-top-50 {
	margin-top: 50px;
}

.u-margin-top-30 {
	margin-top: 30px;
}

@media screen and (min-width: 600px) {

.lists-works-item:nth-child(n+2) {
	margin-top: 0;
}

.lists-works-item {
	width: calc((100% - 20px) / 2);
}

.lists-posts-item:nth-child(n+2) {
	margin-top: 0;
}

.lists-posts-item {
	width: calc((100% - 20px) / 2);
}

}

@media screen and (min-width: 768px) {

.l-inner {
	max-width: 1280px;
}

.contact-thanks-img-container .contact-thanks-img-copy {
	bottom: 80px;
}

.single-inner {
	max-width: 800px;
}

.single-body #toc_container .toc_list {
	margin-inline: auto;
	width: 80%;
}

.single-body h2 {
	margin-inline: auto;
}

.error-404-page {
	padding-top: 60px;
}

.error-404-page-img-container a {
	bottom: 80px;
}

.archive-list {
	display: flex;
	flex-wrap: wrap;
	gap: 3%;
}

.archive-item:nth-child(n+2) {
	margin-top: 0;
}

.archive-item:nth-child(n+4) {
	margin-top: 1.5em;
}

.archive-item {
	width: 31.3333333333%;
}

.profile-body #toc_container .toc_list {
	margin-inline: auto;
	width: 80%;
}

.profile-body h2 {
	margin-inline: auto;
}

.page-privacy-main {
	margin-top: 115px;
}

.page-privacy-body .wp-block-separator {
	max-width: 1200px;
	width: 80vw;
}

.to-top {
	bottom: 40px;
	right: 20px;
}

.pagination-single {
	gap: 2.5rem;
}

.pagination-single-prev,
.pagination-single-list,
.pagination-single-next {
	font-size: 1.5rem;
	padding-inline: 0.9rem;
}

.header__container {
	height: 80px;
	padding-block: 40px;
	padding-inline: 2.34375%;
}

.header__nav-pc-container {
	display: block;
}

.header__nav-sp-button {
	display: none;
}

.mv {
	margin-top: 115px;
}

.mv__slider {
	height: 43.75vw;
	padding-inline: 4.6875vw;
}

.mv__slider-slide-img {
	border-radius: 20px;
}

.mv__slider-pagination {
	bottom: 3px !important;
	gap: 10px;
	left: 33px !important;
}

.swiper-pagination-bullet {
	height: 8px;
	width: 8px;
}

.swiper-button-prev,
.swiper-button-next {
	width: 70px;
}

.swiper-button-prev {
	left: 27px !important;
	transform: translateY(7px);
}

.swiper-button-next {
	right: 24px !important;
	transform: translateY(7px);
}

.mv__slider-text {
	bottom: 50px;
	left: 120px;
}

.u-pc-hidden {
	display: none;
}

}

@media screen and (min-width: 910px) {

.lists-works-item {
	width: calc((100% - 40px) / 3);
}

.lists-posts-item {
	width: calc((100% - 40px) / 3);
}

}

@media screen and (min-width: 1024px) {

.site-title_br {
	display: none;
}

}

@media screen and (min-width: 1280px) {

.lists-works-item {
	width: calc((100% - 60px) / 4);
}

.lists-posts-item {
	width: calc((100% - 60px) / 4);
}

}

@media screen and (max-width: 767px) {

.u-sp-hidden {
	display: none;
}

}

@media screen and (max-width: 599px) {

.lists-works-item {
	max-width: 400px;
}

.lists-posts-item {
	max-width: 400px;
}

}

@keyframes shake-line {

0%,50%,100% {
	transform: translateX(0);
}

10%,30% {
	transform: translateX(-3px);
}

20%,40% {
	transform: translateX(3px);
}

}

@keyframes shake-x {

0%,50%,100% {
	transform: translateX(0);
}

10%,30% {
	transform: translateX(-3px);
}

20%,40% {
	transform: translateX(3px);
}

}

