    /* --- Common Layout Components --- */

        .container {
            width: 100%;
            max-width: 1200px;
            margin-inline: auto;
            padding-inline: 40px;
        }

        