@use "../global" as global;

.l-inner {
  max-width: 100vw;
  padding-inline: calc(15 / 375 * 100vw);
  text-align: center;
  margin-inline: auto;

  @include global.mq(pc) {
    max-width: global.$pc-width;
  }
}
