@use "../global/" as global;

.breadcrumb {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 0.2rem;

  .home,
  .taxonomy,
  .category,
  .archive,
  .tag,
  .author,
  .post-works-archive {
    // マイナスの値でマーカーのようにも使える
    text-decoration-line: underline;
    text-decoration-thickness: 2.3px;
    text-underline-offset: 3px;
  }
}

.breadcrumb span {
  font-size: 1rem;
  color: var(--text-main);
  font-weight: 700;
}

.breadcrumb .current-item {
}
