@use "../global/" as global;

// ボタン
.c-btn {
  color: global.$main-color;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  background-color: #fff;
  border-radius: 24px;
  border: 2px solid global.$main-color;
  text-align: center;
  padding: 12px 46px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../img/components/arrow-right-blue.png);
  background-size: 12px 12px;
  background-position: right 12px center;
  transition: background-position 0.3s ease;

  &:hover {
    background-position: right 4px center;
    color: global.$text-color-white;
    background-color: global.$main-color;
  }
}

@mixin c-btn(
  $color: $main-color,
  $border-color: $main-color,
  $hov-background-color: #fff
) {
  color: global.$main-color;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  background-color: #fff;
  border-radius: 24px;
  border: 2px solid global.$main-color;
  text-align: center;
  padding: 12px 46px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../img/components/arrow-right-blue.png);
  background-size: 12px 12px;
  background-position: right 12px center;
  transition: background-position 0.3s ease;

  &:hover {
    background-position: right 4px center;
    color: global.$text-color-white;
    background-color: global.$main-color;
  }
}

