@use "../global/" as global;

    .hidden-element {
      position: relative;
      /* transform の基準点とするため */
      transform: translateY(100px);
      /* 初期位置を下にずらす */
      opacity: 0;
      /* 初期状態を透明にする */
      transition: transform 0.5s ease-out, opacity 0.5s ease-out;
      /* 滑らかなアニメーション */
    }

    .visible-element {
      transform: translateY(0);
      /* 通常の位置に戻す */
      opacity: 1;
      /* 表示する */
    }

