@use "../global/" as global;

.heading-container,
.heading-link {
  background-color: var(--bg-sub);
  display: inline-flex;
  justify-content: space-between;
  // align-items: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
}

.heading-link {
  transition: all 0.3s ease;
  &:hover {
    background-color: var(--bg-sub);

    .heading {
      color: var(--accent-primary);
    }
  }
}

.heading {
  color: var(--text-main);
  font-size: 1.5em;
}

.heading-en {
}

.heading-underline {
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--text-main);
}

.heading-jp {
}
