@use "../global/" as global;

.pagination-contents-wrap {text-align: center;
  margin-top: 2rem;

}

.pagination-contents-text {
font-size: 1.5rem;
font-weight: 700;
color: global.$main-color;
}


.contents-pagination {
  // margin-inline: auto;
  // text-align: center;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 0.1rem;
}

.post-page-numbers {
  font-size: 2rem;
  font-weight: 700;
  background-color: global.$sub-color-03;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;

  span {
    // padding-bottom: 2px;
    transform: translateY(-1px);
    color: global.$text-color-white;
  }

  &.current span {
    color: global.$main-color;
  }
}

// 詳細度上げるため別個に記載
.contents-pagination a {
  text-decoration: none;

  &:hover {
    opacity: 0.7;

    span {
      color: global.$accent-color;
    }
  }
}
