@use "../global/" as global;

.pagination-archive {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;

  a {
    transition: all 0.3s ease;
    &:hover {
      color: var(--accent-primary);
      opacity: 0.7;
    }
  }
}

.page-numbers {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-main);
  background-color: var(--bg-sub);
  border-radius: 50%;
  font-weight: 700;
  &.current {
    color: var(--accent-primary);
  }
}

.fas {
}

.fa-angles-left {
}

.fa-angles-right {
}
