@use "../global/" as global;

.single-tags {
display: flex;
margin-top: 0.5rem;
gap: 0.5rem;
}



.single-tag-link {
background-color: global.$sub-color-02;
padding-inline: 0.5rem;
padding-block: 0.2rem 0.35rem;
border-radius: 8px;
color: global.$text-color-white;
font-weight: 700;
transition: all 0.3s ease;

&:hover {
  opacity: 0.6;
  color: global.$accent-color;
}
}

.tag-tags .single-tag-link{
  background-color: global.$sub-color-03;
}