@use "../global/" as global;

.single-tags {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.single-tag-link {
  background-color: var(--bg-sub);
  padding-inline: 0.5rem;
  padding-block: 0.2rem 0.35rem;
  border-radius: 8px;
  color: var(--text-main);
  font-weight: 700;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.6;
    color: var(--accent-primary);
  }
}

.tag-tags .single-tag-link {
  background-color: var(--bg-sub);
}
