@use "../../global/" as global;

.contact-main {
  margin-top: 120px;
  text-align: center;
}

.contact-form {
  background-color: var(--bg-sub);
  width: 95vw;
  max-width: 500px;
  margin-inline: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
}

.contact-body p {
  margin-top: 0.5em;
}

.contact-label {
  color: var(--text-main);
  font-weight: 700;
}

.contact-required {
  color: var(--accent-primary);
  margin-left: 0.5em;
  font-weight: 700;
}

.contact-main input[type="text"],
.contact-main input[type="email"],
.contact-main textarea {
  width: 95%;
  max-width: 400px;
  border: none;
  font-family: var(--font-code);

  &:hover {
    outline: 1px solid var(--accent-primary);
  }
}

.contact-main textarea {
  height: 200px;
}

.contact-main input[type="submit"] {
  background-color: var(--text-main);
  color: var(--bg-deep);
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  margin-inline: auto;
  display: inline-block;
  transition: all 0.3s ease;
  border: 1px solid var(--text-main);

  &:hover {
    opacity: 0.8;
    border-color: var(--accent-primary);
    color: var(--accent-primary);
    background: transparent;
  }
}

.contact-main .wpcf7-spinner {
  display: none;
}

.contact-main .x-wrap {
  margin-top: 3rem;
}

.contact-main .follow-me {
  font-weight: 700;
  font-size: 1.2rem;
}

.contact-privacy {
  margin-top: 2rem;
  font-family: var(--font-code);
  font-weight: 700;

  .privacy-link {
    font-weight: 700;
    text-decoration: underline;
    color: var(--text-main);
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;

    &:hover {
      color: var(--accent-primary);
    }
  }
}
