@use "../../global/" as global;

.page-profile-main {
  margin-top: 120px;
}

.page-profile-inner {
  width: 95%;
  margin-inline: auto;
  max-width: 600px;
  text-align: center;
}

.profile-body {
  font-family: global.$ff-noto;
  text-align: left;

    & #toc_container {
    margin-inline: auto;
    padding-bottom: 1em;
    background-color: global.$base-color;
    margin-top: 2rem;

    @include global.mq(pc) {
      & .toc_list {
        width: 80%;
        margin-inline: auto;
      }
    }
  }

  & p {
    margin-top: 1em;
  }

  & a {
    color: global.$main-color;
    font-weight: 700;
    text-decoration: underline;
    transition: color 0.3s;

    &:hover {
      color: global.$accent-color;
    }
  }

  & .wp-block-separator {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  & .wp-block-image img {
    display: block;
    margin-top: 2rem;
    padding-bottom: 1em;
    margin-inline: auto;
  }

  & .wp-block-video {
    margin-top: 2rem;
    padding-bottom: 1em;
    margin-inline: auto;
    display: block;
  }

  & h2 {
    font-size: 1.5em;
    margin-top: 2em;
    margin-left: 1em;
    position: relative;
    padding-bottom: 0.1em;
    display: inline-block;
    span {
      font-weight: 700;
    }

    @include global.mq(pc) {
      margin-inline: auto;
    }

    &::after {
      content: "";
      display: block;
      width: 60%;
      min-width: 35px;
      height: 5px;
      background-color: global.$main-color;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  & h3 {
    font-size: 1.2em;
    margin-top: 2em;
    margin-inline: auto;
    position: relative;
    padding-left: 1em;
    span {
      font-weight: 700;
    }

    &::before {
      content: "";
      display: block;
      width: 4px;
      height: 100%;
      background-color: global.$main-color;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  & h4 {
    font-size: 1em;
    margin-top: 2em;
    margin-left: 1em;
    position: relative;
    padding-bottom: 0.3em;
    display: inline-block;
    span {
      font-weight: 700;
    }

    &::before {
      content: "";
      display: block;
      width: 60%;
      height: 4px;
      background-color: global.$sub-color-03;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  & h5 {
    font-size: 1em;
    font-weight: 700;
    margin-top: 2em;
    margin-left: 1em;
    color: #111;
    display: inline-block;
    position: relative;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    span {
      font-weight: 700;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        global.$sub-color-03,
        transparent
      ); // 修正
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      border-radius: 0 8px 8px 0; //修正
    }
  }

  & h6 {
    font-size: 1em;
    font-weight: 700;
    margin-top: 2em;
    color: #111;
    position: relative;
    padding-left: 1.2rem;
    font-weight: 700;
    span {
      font-weight: 700;
    }

    &::before {
      content: "";
      display: block;
      clip-path: polygon(0 0, 0% 100%, 62% 50%);
      width: 1.5rem;
      height: 80%;
      background-color: global.$sub-color-03;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  & .affiliate {
    display: block;
    margin-top: 2rem;
    text-align: center;
  }

  & .wp-block-embed__wrapper {
    max-width: 80vw;
    margin-top: 1rem;
    padding-bottom: 1em;
    margin-inline: auto;
    display: block;
  }

  & .wp-block-code {
    margin-top: 1em;
    padding-bottom: 1em;
    margin-inline: auto;
    display: block;
  }

  & .wp-block-quote {
    margin-top: 1em;
    padding-bottom: 1em;
    margin-inline: auto;
    display: block;
  }

  & .wp-block-table {
    margin-top: 1em;
    padding-bottom: 1em;
    margin-inline: auto;
    display: block;
  }

  & .wp-block-list {
    margin-top: 1em;
    padding-bottom: 1em;
    text-align: left;

    & li {
      margin-top: 0.6em;
      position: relative;
      padding-left: 1.2em;

      &::before {
        content: "\f111";
        font: var(--fa-font-solid);
        font-weight: 700;
        font-size: 0.5em;
        position: absolute;
        left: 0;
        top: 1.3em;
      }
    }
  }
}

.page-profile-text-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1em;
}

.page-profile-text-description-container {
  margin-top: 1em;

  @include global.mq(pc) {
  }
}

.page-profile-text-description {
  text-align: left;

  &:nth-child(n + 2) {
    margin-top: 1em;
  }
}

.page-profile-text-link {
  margin-top: 1em;
  font-weight: 700;
  font-size: 1.5em;
}

