@use "../../global/" as global;

/* --- 検索フォームのスタイル --- */
.search-form {
  display: flex; /* 横並びに配置 */
  justify-content: center;
  max-width: 400px;
  margin-top: 1.5rem;
  margin-inline: auto;
}

.search-field {
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  font-size: 16px;
  width: 100%; /* 親要素の幅いっぱいに広げる */
  outline: none; /* フォーカス時の枠線を消す */
  font-family: global.$ff-noto;
}

.search-submit {
  background-color: global.$main-color; /* WordPressの標準的な青色 */
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 0 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.search-submit:hover {
  background-color: global.$accent-color;
}

/* スクリーンリーダー用のテキストを非表示にする */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

/* --- 検索結果ページのスタイル --- */
.search-results-header {
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.search-results-title {
  font-size: 1.5rem;
  font-weight: bold;
  // font-family: global.$ff-noto;
  span {
    color: global.$accent-color; /* 検索キーワードの色を強調 */
    font-weight: bold;
  }
}

.search-results-not-founds {
  font-family: global.$ff-noto;
}
